@model Project

<h1>Create new Project</h1>

<form asp-action="Create" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />

    <input type="submit" />
</form>
<a asp-action="Index">Back to Projects</a>