@model Project

<h1>Delete Project</h1>


<form asp-action="Delete" method="post">
    <label asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name" disabled/>
    <br />
    <label asp-for="@Model.Description"></label>
    <input asp-for="@Model.Description" disabled/>
    <br />

    <input type="submit" />
</form>

<a asp-action="Index">Back to Projects</a>
