@model IEnumerable<Project>

<h1>Project</h1>


<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></td>
                <td>
                    <a style="text-decoration: none" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">EDIT</a>
                    <a style="text-decoration: none" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">DELETE</a>
                </td>
            </tr>
        }
    }
</table>

<a asp-action="Create">Create new project</a>